.ags-HeroModule-content-header:before {
    top: 0;
}

.ags-HeroModule-content-header:after, .ags-HeroModule-content-header:before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,rgba(191,162,81,0),#bfa251,rgba(191,162,81,0));
}
